In [3]:
####    Scope and user-defined functions

# Scope - part of the program where an object or name may be accessible
#● Global scope - defined in the main body of a script
#● Local scope - defined inside a function
#● Built-in scope - names in the pre-defined built-ins module

def square(value):
    """Return the square of a number"""
    new_value = value**2
    return new_value
square(3)
new_value

NameError: name 'new_value' is not defined

In [4]:
new_value = 10

def square(value):
    """Return the square of a number"""
    new_value = value**2
    return new_value
square(3)
new_value

10

In [10]:
new_value = 10

def square(value):
    """Return the square of a number"""
    new_value2 = new_value**2
    return new_value2
square(30)
#new_value

100

In [12]:
new_value = 20
square(5)

400

In [16]:
new_value = 10

def square(value):
    """Return the square of a number"""
    global new_value
    new_value = new_value**2

    return new_value
square(30)
new_value

100

In [21]:
team = "teen titans"

def change_team():
    """Change the value of the global variable team."""
    global team
    
    team = 'justice legal'
    return team
change_team()
print(team)

justice legal

In [17]:
###  Nested functions (1)

def mod2plus5(x1,x2,x3):
    """Returns the remainder plus 5 of three values."""
    def inner(x):
        """Returns the remainder plus 5 of a value."""
        return x%2 + 5
    
    return (inner(x1), inner(x2), inner(x3))

print(mod2plus5(1,2,3))

(6, 5, 6)

In [22]:
def sum(a,b,c):
    
    def inner(d):
        return (d*3)+2
    return (inner(a),inner(b), inner(c))
print(sum(1,2,3))

(5, 8, 11)

In [40]:
####  Returning functions

def raise_val(n):
    """Raise  the inner function"""
    def inner(x):
        """ Raise x to the power of n"""
        raised = x**n
        return raised
    
    return inner
square = raise_val(3)
cube = raise_val(3)
print(square(2),cube(4))

8 64

In [30]:
#### Using nonlocal

def outer():
    """Print the value of n """
    n=1
    
    def inner():
        nonlocal n
        n=2
        print(n)
        
    inner()
    print(n)
    
outer()

2
2

In [58]:
def echo_shout(word):
      """Change the value of a nonlocal variable"""
    
    echo_word = word*2
    print(echo_word)
        
    def shout():
         """Alter a variable in the enclosing scope"""  
        nonlocal echo_word
        echo_word = echo_word + '!!!'
        
    shout()
    print(echo_word)
        
echo_shout('me')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [45]:
### exercises

def three_shouts(word1, word2,word3):
    """Returns a tuple of strings
    concatenated with '!!!'"""
    
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word +"!!!"
    return (inner(word1) , inner(word2) ,inner(word3))
print(three_shouts('a','b','me'))

('a!!!', 'b!!!', 'me!!!')

In [46]:
def echo(n):
    """Return the inner_echo function."""
    
    def inner(word1):
        """Concatenate n copies of word1."""
        echo_word = word1*n
        return echo_word
    return inner
twice = echo(2)
thrice = echo(3)
print(twice('hi'), thrice('me'))

hihi mememe

In [65]:
#### Default and flexible arguments

## 1  Add a default argument

def power(number, pow=1 ):
    """Raise number to the power of pow."""
    new_value  = number**pow
    return new_value
power(9,3)

729

In [73]:
###  Flexible arguments: *args (1)

def add_all(*args):
    """Sum all values in *args together."""
    sum_all = 0
    
    for num in args:
        sum_all = sum_all+num
        
    return sum_all
add_all(1,2)

3

In [83]:
####  Flexible arguments: **kwargs

print(name="Hugo Bowne-Anderson", employer="DataCamp")

TypeError: 'name' is an invalid keyword argument for this function

In [90]:
def print_all(**kwargs):
    """Print out key-value pairs in **kwargs."""
    
    for key, value in kwargs.items():
        print(key + ':' + value)
        
print_all(name="dumbledore", job="headmaster")

name:dumbledore
job:headmaster

In [94]:
def gibberish(*args):
    hodgepodhe = ''
    
    for word in args:
        hodgepodhe+= word
    return hodgepodhe
one = gibberish('luke')
many = gibberish('a ', 'sul', 'bob')

print(one)
print(many)

luke
a sulbob

In [103]:
def report_status(**kwargs):
    print("\nBEGIN: END\n")
report_status()

BEGIN: END

In [105]:
def report_status(**kwargs):
    
    print("\nBEGIN: END\n")
    
    for key, value in kwargs.items():
        print(key + ':' + value)
        
    print("\nEND REPORT\n")  
    
report_status(name = 'Bota', affilation = ' cool', status = ' milliarder')

BEGIN: END

name:Bota
affilation: cool
status: milliarder

END REPORT