In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/668b96955d8b252aa8439c7602d516634e3f015e/volunteer_opportunities.csv')
df.head(2)

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Encoding categorical variables

In [6]:
dict3= { 'user': [1,2,3,4],
        'subscribed': ['y','n', 'n', 'y'],
        'fav_color': ['blue', 'green','orange', 'green']
    
}
df3= pd.DataFrame(dict3)
df3

   user subscribed fav_color
0     1          y      blue
1     2          n     green
2     3          n    orange
3     4          y     green

In [8]:
df3.subscribed

0    y
1    n
2    n
3    y
Name: subscribed, dtype: object

# Encoding binary variables : Pandas

In [10]:
df3['sub_end'] = df3.subscribed.apply( lambda val: 1 if val=='y' else 0)

df3.sub_end

0    1
1    0
2    0
3    1
Name: sub_end, dtype: int64

# # Encoding binary variables : scikit-learn

In [12]:
from sklearn.preprocessing import LabelEncoder

le= LabelEncoder()

df3['sub_enc_le']= le.fit_transform(df3.subscribed)
df3

   user subscribed fav_color  sub_end  sub_enc_le
0     1          y      blue        1           1
1     2          n     green        0           0
2     3          n    orange        0           0
3     4          y     green        1           1

# One-hot encoding

In [15]:
df3.fav_color

0      blue
1     green
2    orange
3     green
Name: fav_color, dtype: object

In [18]:
pd.get_dummies(df3.fav_color)

   blue  green  orange
0     1      0       0
1     0      1       0
2     0      0       1
3     0      1       0

In [19]:
df3

   user subscribed fav_color  sub_end  sub_enc_le
0     1          y      blue        1           1
1     2          n     green        0           0
2     3          n    orange        0           0
3     4          y     green        1           1

# Encoding categorical variables - binary

In [ ]:
# Set up the LabelEncoder object
enc = LabelEncoder()

# Apply the encoding to the "Accessible" column
hiking['Accessible_enc'] = enc.fit_transform(hiking['Accessible'])
hiking.head(2)
# Compare the two columns
print(hiking[['Accessible', 'Accessible_enc']].head())

# Encoding categorical variables - one-hot

In [ ]:
# Transform the category_desc column
category_enc = pd.get_dummies(volunteer['category_desc'])

# Take a look at the encoded columns
print(category_enc.head())

# Engineering numerical features

In [20]:
dict4 = {'city':['NYC','SF','LA', 'Boston'],
         'day1': [68.3, 75.1, 80.3, 63.0],
         'day2':[67.9, 75.5, 84.0, 61.0],
         'day3': [67.8,74.9,81.3,61.2]
    
}
df4 = pd.DataFrame(dict4)
df4

     city  day1  day2  day3
0     NYC  68.3  67.9  67.8
1      SF  75.1  75.5  74.9
2      LA  80.3  84.0  81.3
3  Boston  63.0  61.0  61.2

# Aggregate statistics

In [23]:
columns= ['day1', 'day2', 'day3']

df4['mean']= df4.apply(lambda row: row[columns].mean(), axis=1)

df4

     city  day1  day2  day3       mean
0     NYC  68.3  67.9  67.8  68.000000
1      SF  75.1  75.5  74.9  75.166667
2      LA  80.3  84.0  81.3  81.866667
3  Boston  63.0  61.0  61.2  61.733333

# Dates

In [24]:
date = { 'date' : ['July 30 2011', 'February 01 2011', 'January 29 2011'],
        'purchase': ['$45.08','$19.48', '$76.09']
    }
df5= pd.DataFrame(date)
df5

               date purchase
0      July 30 2011   $45.08
1  February 01 2011   $19.48
2   January 29 2011   $76.09

In [26]:
df5['date_converted'] = pd.to_datetime(df5.date)
df5

               date purchase date_converted
0      July 30 2011   $45.08     2011-07-30
1  February 01 2011   $19.48     2011-02-01
2   January 29 2011   $76.09     2011-01-29

In [29]:
df5['month'] = df5['date_converted'].apply(lambda row:row.month)
df5

               date purchase date_converted  month
0      July 30 2011   $45.08     2011-07-30      7
1  February 01 2011   $19.48     2011-02-01      2
2   January 29 2011   $76.09     2011-01-29      1

# Engineering numerical features - taking an average

In [ ]:
# Create a list of the columns to average
run_columns = ['run1','run2','run3','run4','run5']
running_times_5k.head()
# Use apply to create a mean column
running_times_5k["mean"] = running_times_5k.apply(lambda row: row[run_columns].mean(), axis=1)

# Take a look at the results
print(running_times_5k)

# Engineering numerical features - datetime

In [31]:
df.head(1)

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.columns

Index(['opportunity_id', 'content_id', 'vol_requests', 'event_time', 'title',
       'hits', 'summary', 'is_priority', 'category_id', 'category_desc',
       'amsl', 'amsl_unit', 'org_title', 'org_content_id', 'addresses_count',
       'locality', 'region', 'postalcode', 'primary_loc', 'display_url',
       'recurrence_type', 'hours', 'created_date', 'last_modified_date',
       'start_date_date', 'end_date_date', 'status', 'Latitude', 'Longitude',
       'Community Board', 'Community Council ', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [37]:
print(df['start_date_date'].head())

0        July 30 2011
1    February 01 2011
2     January 29 2011
3    February 14 2011
4    February 05 2011
Name: start_date_date, dtype: object

In [36]:
df['start_date_converted']=pd.to_datetime(df['start_date_date'])
df.head(1)

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA,start_date_converted
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-30

### To retrieve just the month, apply a lambda function to

In [42]:
df['day']= df['start_date_converted'].apply(lambda row: row.day)
df.day.head()

0    30
1     1
2    29
3    14
4     5
Name: day, dtype: int64

In [43]:
df['year']= df['start_date_converted'].apply(lambda row: row.year)
df.year.head()

0    2011
1    2011
2    2011
3    2011
4    2011
Name: year, dtype: int64

# Text classification

## 1) Extraction

In [111]:
import re

my_string = "temperature : 75.6 F"

pattern = re.compile(r'\d+\.\d+')

temp = re.match(pattern,my_string)

float(temp.group(0))

AttributeError: 'NoneType' object has no attribute 'group'

In [77]:
import re
 
s = '**temperature: 75.6 F**'
r = re.search('\d+\.\d+',s)
print(r.group(0))

75.6

# Vectorizing text

### to use document text for classification need to vectorize text and transform it into a numerical input with sklearn

### 1) create tf/idf vector

### tf = term frequency

### idf = inverse document frequency

In [105]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vec = TfidfVectorizer()

text_tfidf = tfidf_vec.fit_transform(doc)
text_tfidf

<1x5 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

### we ll use Naive Bayes classifier , based on Bayes' theorem of conditional probability

In [106]:
doc = pd.read_csv('documents.txt')
print(doc.head())

    i think today is a good day
0  but sometimes it goes slowly
1     wanna grab a cupof coffee

# Engineering features from strings - extraction

In [109]:
hiking =pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/4f26c48451bdbf73db8a58e226cd3d6b45cf7bb5/hiking.json')
hiking

Empty DataFrame
Columns: [[{"Prop_ID":"B057", Name:"Salt Marsh Nature Trail", Location:"Enter behind the Salt Marsh Nature Center,  located near the intersection of East 33rd Street and Avenue U.", Park_Name:"Marine Park", Length:"0.8 miles", Difficulty:null, Other_Details:"<p>The first half of this mile-long trail follows the shore of Gerritsen Beach,  which empties into Jamaica Bay. The trail&rsquo;s second leg winds through a prairie of tall grass,  where you can sometimes spot cottontail rabbits and ring-necked pheasants. Check out our <a href=\"\/park-features\/hiking\/marine-park\">Marine Park Trails<\/a> page for a map and directions to scenic locations,  and comfort stations and maps are also available inside the Salt Marsh Nature Center.<\/p>", Accessible:"Y", Limited_Access:"N", lat:null, lon:null}, {"Prop_ID":"B073", Name:"Lullwater", Location:"Enter Park at Lincoln Road and Ocean Avenue entrance.  Trails begin or are near the Prospect Park Audubon Center.", Park_Name:"Prospect Park", Length:"1.0 mile", Difficulty:"Easy", Other_Details:"Explore the Lullwater to see how nature thrives in the heart of Brooklyn.  The Lullwater is a great place to see birds and other wildlife.  Bathrooms,  caf&eacute; and trail guides are available at the Prospect Park Audubon Center.", Accessible:"N", Limited_Access:"N".1, lat:null.1, lon:null}.1, {"Prop_ID":"B073".1, Name:"Midwood", Location:"Enter Park at Lincoln Road and Ocean Avenue entrance. Trails begin or are near the Prospect Park Audubon Center.", Park_Name:"Prospect Park".1, Length:"0.75 miles", Difficulty:"Easy".1, Other_Details:"Step back in time with a walk through Brooklyn&rsquo;s oldest remaining forest. The Midwood,  home to some of Prospect Park&rsquo;s largest trees,  is a relic of Brooklyn&rsquo;s history,  and was preserved and incorporated into the park during its original construction. The thirty-minute hike loops from Prospect Park&rsquo;s Audubon Center through a forest filled with birds and other animals.", Accessible:"N".1, Limited_Access:"N".2, lat:null.2, lon:null}.2, {"Prop_ID":"B073".2, Name:"Peninsula", Location:"Enter Park at Lincoln Road and Ocean Avenue entrance.  Trails begin or are near the Prospect Park Audubon Center.".1, Park_Name:"Prospect Park".2, Length:"0.5 miles", Difficulty:"Easy".2, Other_Details:"Discover how the Peninsula has changed over the last 300 years.  The Peninsula's restored landscapes provide scenic views,  a home for Park wildlife,  and great fishing.  Bathrooms,  caf&eacute; and trail guides are available at the Prospect Park Audubon Center.".1, Accessible:"N".2, Limited_Access:"N".3, lat:null.3, lon:null}.3, {"Prop_ID":"B073".3, Name:"Waterfall", Location:"Enter Park at Lincoln Road and Ocean Avenue entrance.  Trails begin or are near the Prospect Park Audubon Center.".2, Park_Name:"Prospect Park".3, Length:"0.5 miles".1, Difficulty:"Easy".3, Other_Details:"Trace the source of the Lake on the Waterfall trail.  The Fallkill Falls is the first of six waterfalls that you will see along the Park's watercourse.  Bathrooms,  caf&eacute; and trail guides are available at the Prospect Park Audubon Center.".2, Accessible:"N".3, Limited_Access:"N".4, lat:null.4, lon:null}.4, {"Prop_ID":"Q001", Name:"Alley Pond Trails", Location:"Park-wide. Check out our <a href=\"\/park-features\/hiking\/alley-pond\">Alley Pond Park Trails<\/a> page for a map and directions to scenic locations.", Park_Name:"Alley Pond Park", Length:"Various", Difficulty:"Various", Other_Details:"Numerous trails wind through native hardwood (oak-hickory) forest and kettle ponds.  The north end of the park boasts splendid salt marsh views.", Accessible:"N".4, Limited_Access:"N".5, lat:null.5, lon:null}.5, {"Prop_ID":"Q015", Name:"Blue Trail", Location:"Forest Park Drive East,  off of Woodhaven Boulevard", Park_Name:"Forest Park", Length:"1.7 miles", Difficulty:"", Other_Details:"Forest Park's numerous trails wind through native hardwood (oak-hickory) forest and kettle ponds.  ", Accessible:"N".5, Limited_Access:"N".6, lat:null.6, lon:null}.6, {"Prop_ID":"Q015".1, Name:"Orange Trail", Location:"Memorial Drive and Forest Park Drive East", Park_Name:"Forest Park".1, Length:"2.4 miles", Difficulty:null.1, Other_Details:"This trail will lead you through a 2.4 mile adventurous hike along the perimeter of the forest", Accessible:"N".6, Limited_Access:"N".7, lat:null.7, ...]
Index: []

[0 rows x 427 columns]

# Engineering features from strings - extraction

In [ ]:
# Write a pattern to extract numbers and decimals
def return_mileage(length):
    pattern = re.compile(r"\d+\.\d+")
    
    # Search the text for matches
    mile = re.match(pattern, length)
    
    # If a value is returned, use group(0) to return the found value
    if mile is not None:
        return float(mile.group(0))
        
# Apply the function to the Length column and take a look at both columns
hiking["Length_num"] = hiking.Length.apply(lambda row: return_mileage(row))
print(hiking[["Length", "Length_num"]].head())

# Engineering features from strings - tf/idf

In [114]:
df.head(2)

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,Community Board,Community Council,Census Tract,BIN,BBL,NTA,start_date_converted,month,day,year
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-30,30,30,2011
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-01,1,1,2011

In [116]:
df.title.head()

0    Volunteers Needed For Rise Up & Stay Put! Home...
1                                         Web designer
2        Urban Adventures - Ice Skating at Lasker Rink
3    Fight global hunger and support women farmers ...
4                                        Stop 'N' Swap
Name: title, dtype: object

In [126]:
df.columns

Index(['opportunity_id', 'content_id', 'vol_requests', 'event_time', 'title',
       'hits', 'summary', 'is_priority', 'category_id', 'category_desc',
       'amsl', 'amsl_unit', 'org_title', 'org_content_id', 'addresses_count',
       'locality', 'region', 'postalcode', 'primary_loc', 'display_url',
       'recurrence_type', 'hours', 'created_date', 'last_modified_date',
       'start_date_date', 'end_date_date', 'status', 'Latitude', 'Longitude',
       'Community Board', 'Community Council ', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'start_date_converted', 'month', 'day', 'year'],
      dtype='object')

In [127]:
df.category_desc.head()

0                          NaN
1    Strengthening Communities
2    Strengthening Communities
3    Strengthening Communities
4                  Environment
Name: category_desc, dtype: object

In [121]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Take the title text
title_text = df.title

# Create the vectorizer method
tfidf_vec = TfidfVectorizer()

# Transform the text into tf-idf vectors
text_tfidf = tfidf_vec.fit_transform(title_text)

In [132]:

y =df.category_desc.values

In [140]:
df.dtypes

opportunity_id                   int64
content_id                       int64
vol_requests                     int64
event_time                       int64
title                           object
hits                             int64
summary                         object
is_priority                     object
category_id                    float64
category_desc                   object
amsl                           float64
amsl_unit                      float64
org_title                       object
org_content_id                   int64
addresses_count                  int64
locality                        object
region                          object
postalcode                     float64
primary_loc                    float64
display_url                     object
recurrence_type                 object
hours                            int64
created_date                    object
last_modified_date              object
start_date_date                 object
end_date_date                   object
status                          object
Latitude                       float64
Longitude                      float64
Community Board                float64
Community Council              float64
Census Tract                   float64
BIN                            float64
BBL                            float64
NTA                            float64
start_date_converted    datetime64[ns]
month                            int64
day                              int64
year                             int64
dtype: object

# 2) Text classification using tf/idf vectors

In [141]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier


knn = KNeighborsClassifier(n_neighbors=6)     

# Split the dataset according to the class distribution of category_desc
y =df.category_desc.values

df['category_desc']=df['category_desc'].astype(str)

train_X, test_X, train_y, test_y = train_test_split(text_tfidf.toarray(), y, stratify=y)

# Fit the model to the training data
knn.fit(train_X, train_y)

# Print out the model's accuracy
print(knn.score(test_X, test_y))

0.5449101796407185

In [142]:
df.head()

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,Community Board,Community Council,Census Tract,BIN,BBL,NTA,start_date_converted,month,day,year
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,nan,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-30,30,30,2011
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-01,1,1,2011
2,5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,Strengthening Communities,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-01-29,29,29,2011
3,5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,Strengthening Communities,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-14,14,14,2011
4,5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,NaN,NaN,NaN,NaN,NaN,NaN,2011-02-05,5,5,2011

In [124]:
text_tfidf

<665x1136 sparse matrix of type '<class 'numpy.float64'>'
	with 3397 stored elements in Compressed Sparse Row format>

In [123]:
text_tfidf.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [143]:
df.columns

Index(['opportunity_id', 'content_id', 'vol_requests', 'event_time', 'title',
       'hits', 'summary', 'is_priority', 'category_id', 'category_desc',
       'amsl', 'amsl_unit', 'org_title', 'org_content_id', 'addresses_count',
       'locality', 'region', 'postalcode', 'primary_loc', 'display_url',
       'recurrence_type', 'hours', 'created_date', 'last_modified_date',
       'start_date_date', 'end_date_date', 'status', 'Latitude', 'Longitude',
       'Community Board', 'Community Council ', 'Census Tract', 'BIN', 'BBL',
       'NTA', 'start_date_converted', 'month', 'day', 'year'],
      dtype='object')

# Checking for correlated features

In [ ]:
# Create a list of redundant column names to drop
to_drop = ["category_desc", "created_date", "locality", "region", "vol_requests"]

# Drop those columns from the dataset
volunteer_subset = volunteer.drop(to_drop, axis=1)

# Print out the head of the new dataset
print(volunteer_subset.head())

# Checking for correlated features

In [144]:
wine = pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/9bd5350dfdb481e0f94eeef6acf2663452a8ef8b/wine_types.csv')
wine.head()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [145]:
wine.corr()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
Type,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720
Malic acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011
Ash,-0.049643,0.211545,0.164045,1.000000,0.443367,0.286587,0.128980,0.115077,0.186230,0.009652,0.258887,-0.074667,0.003911,0.223626
Alcalinity of ash,0.517859,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597
Magnesium,-0.209179,0.270798,-0.054575,0.286587,-0.083333,1.000000,0.214401,0.195784,-0.256294,0.236441,0.199950,0.055398,0.066004,0.393351
Total phenols,-0.719163,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115
Flavanoids,-0.847498,0.236815,-0.411007,0.115077,-0.351370,0.195784,0.864564,1.000000,-0.537900,0.652692,-0.172379,0.543479,0.787194,0.494193
Nonflavanoid phenols,0.489109,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385
Proanthocyanins,-0.499130,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417
Color intensity,0.265668,0.546364,0.248985,0.258887,0.018732,0.199950,-0.055136,-0.172379,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.316100
Hue,-0.617369,-0.071747,-0.561296,-0.074667,-0.273955,0.055398,0.433681,0.543479,-0.262640,0.295544,-0.521813,1.000000,0.565468,0.236183
OD280/OD315 of diluted wines,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761
Proline,-0.633717,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000

In [146]:
# Print out the column correlations of the wine dataset
print(wine.corr())

# Take a minute to find the column where the correlation value is greater than 0.75 at least twice
to_drop = "Flavanoids"

# Drop that column from the DataFrame
wine = wine.drop(to_drop, axis=1)

                                  Type   Alcohol  Malic acid       Ash  \
Type                          1.000000 -0.328222    0.437776 -0.049643
Alcohol                      -0.328222  1.000000    0.094397  0.211545
Malic acid                    0.437776  0.094397    1.000000  0.164045
Ash                          -0.049643  0.211545    0.164045  1.000000
Alcalinity of ash             0.517859 -0.310235    0.288500  0.443367
Magnesium                    -0.209179  0.270798   -0.054575  0.286587
Total phenols                -0.719163  0.289101   -0.335167  0.128980
Flavanoids                   -0.847498  0.236815   -0.411007  0.115077
Nonflavanoid phenols          0.489109 -0.155929    0.292977  0.186230
Proanthocyanins              -0.499130  0.136698   -0.220746  0.009652
Color intensity               0.265668  0.546364    0.248985  0.258887
Hue                          -0.617369 -0.071747   -0.561296 -0.074667
OD280/OD315 of diluted wines -0.788230  0.072343   -0.368710  0.003911
Proline                      -0.633717  0.643720   -0.192011  0.223626

                              Alcalinity of ash  Magnesium  Total phenols  \
Type                                   0.517859  -0.209179      -0.719163
Alcohol                               -0.310235   0.270798       0.289101
Malic acid                             0.288500  -0.054575      -0.335167
Ash                                    0.443367   0.286587       0.128980
Alcalinity of ash                      1.000000  -0.083333      -0.321113
Magnesium                             -0.083333   1.000000       0.214401
Total phenols                         -0.321113   0.214401       1.000000
Flavanoids                            -0.351370   0.195784       0.864564
Nonflavanoid phenols                   0.361922  -0.256294      -0.449935
Proanthocyanins                       -0.197327   0.236441       0.612413
Color intensity                        0.018732   0.199950      -0.055136
Hue                                   -0.273955   0.055398       0.433681
OD280/OD315 of diluted wines          -0.276769   0.066004       0.699949
Proline                               -0.440597   0.393351       0.498115

                              Flavanoids  Nonflavanoid phenols  \
Type                           -0.847498              0.489109
Alcohol                         0.236815             -0.155929
Malic acid                     -0.411007              0.292977
Ash                             0.115077              0.186230
Alcalinity of ash              -0.351370              0.361922
Magnesium                       0.195784             -0.256294
Total phenols                   0.864564             -0.449935
Flavanoids                      1.000000             -0.537900
Nonflavanoid phenols           -0.537900              1.000000
Proanthocyanins                 0.652692             -0.365845
Color intensity                -0.172379              0.139057
Hue                             0.543479             -0.262640
OD280/OD315 of diluted wines    0.787194             -0.503270
Proline                         0.494193             -0.311385

                              Proanthocyanins  Color intensity       Hue  \
Type                                -0.499130         0.265668 -0.617369
Alcohol                              0.136698         0.546364 -0.071747
Malic acid                          -0.220746         0.248985 -0.561296
Ash                                  0.009652         0.258887 -0.074667
Alcalinity of ash                   -0.197327         0.018732 -0.273955
Magnesium                            0.236441         0.199950  0.055398
Total phenols                        0.612413        -0.055136  0.433681
Flavanoids                           0.652692        -0.172379  0.543479
Nonflavanoid phenols                -0.365845         0.139057 -0.262640
Proanthocyanins                      1.000000        -0.025250  0.295544
Color intensity                     -0.025250         1.000000 -0.521813
Hue                                  0.295544        -0.521813  1.000000
OD280/OD315 of diluted wines         0.519067        -0.428815  0.565468
Proline                              0.330417         0.316100  0.236183

                              OD280/OD315 of diluted wines   Proline
Type                                             -0.788230 -0.633717
Alcohol                                           0.072343  0.643720
Malic acid                                       -0.368710 -0.192011
Ash                                               0.003911  0.223626
Alcalinity of ash                                -0.276769 -0.440597
Magnesium                                         0.066004  0.393351
Total phenols                                     0.699949  0.498115
Flavanoids                                        0.787194  0.494193
Nonflavanoid phenols                             -0.503270 -0.311385
Proanthocyanins                                   0.519067  0.330417
Color intensity                                  -0.428815  0.316100
Hue                                               0.565468  0.236183
OD280/OD315 of diluted wines                      1.000000  0.312761
Proline                                           0.312761  1.000000

# Selecting features using text vectors

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Take the title text
title_text = df.title

# Create the vectorizer method
tfidf_vec = TfidfVectorizer()

# Transform the text into tf-idf vectors
text_tfidf = tfidf_vec.fit_transform(title_text)

In [155]:
# Add in the rest of the parameters
def return_weights(vocab,original_vocab , vector, vector_index, top_n):
    zipped = dict(zip(vector[vector_index].indices, vector[vector_index].data))
    
    # Let's transform that zipped dict into a series
    zipped_series = pd.Series({vocab[i]:zipped[i] for i in vector[vector_index].indices})
    
    # Let's sort the series to pull out the top n weighted words
    zipped_index = zipped_series.sort_values(ascending=False)[:top_n].index
    return [original_vocab[i] for i in zipped_index]

# Print out the weighted words
print(return_weights(vocab,tfidf_vec.vocabulary_, text_tfidf,8,3))

NameError: name 'vocab' is not defined

# Exploring text vectors, part 2

In [156]:
def words_to_filter(vocab, original_vocab, vector, top_n):
    filter_list = []
    for i in range(0, vector.shape[0]):
    
        # Here we'll call the function from the previous exercise, and extend the list we're creating
        filtered = return_weights(vocab, original_vocab, vector, i, top_n)
        filter_list.extend(filtered)
    # Return the list in a set, so we don't get duplicate word indices
    return set(filter_list)

# Call the function to get the list of word indices
filtered_words = words_to_filter(vocab,tfidf_vec.vocabulary_ , text_tfidf, 3)

# By converting filtered_words back to a list, we can use it to filter the columns in the text vector
filtered_text = text_tfidf[:, list(filtered_words)]

NameError: name 'vocab' is not defined

# Training Naive Bayes with feature selection

In [157]:
# Split the dataset according to the class distribution of category_desc, using the filtered_text vector
train_X, test_X, train_y, test_y = train_test_split(filtered_text.toarray(), y, stratify=y)

# Fit the model to the training data
nb.fit(train_X,train_y)

# Print out the model's accuracy
print(nb.score(test_X,test_y))

NameError: name 'filtered_text' is not defined

# Using PCA

In [158]:
wine = pd.read_csv('https://assets.datacamp.com/production/repositories/1816/datasets/9bd5350dfdb481e0f94eeef6acf2663452a8ef8b/wine_types.csv')
wine.head(3)

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185

In [162]:
from sklearn.decomposition import PCA

# Set up PCA and the X vector for diminsionality reduction
pca = PCA()
wine_X = wine.drop("Type", axis=1)
y= wine.Type.values
# Apply PCA to the wine dataset X vector
transformed_X = pca.fit_transform(wine_X)

# Look at the percentage of variance explained by the different components
print(pca.explained_variance_ratio_)

[9.98091230e-01 1.73591562e-03 9.49589576e-05 5.02173562e-05
 1.23636847e-05 8.46213034e-06 2.80681456e-06 1.52308053e-06
 1.12783044e-06 7.21415811e-07 3.78060267e-07 2.12013755e-07
 8.25392788e-08]

##  In the next section you'll train a model using the PCA-transformed vector.

# Training a model with PCA

In [163]:
# Split the transformed X and the y labels into training and test sets
X_wine_train, X_wine_test, y_wine_train, y_wine_test = train_test_split(transformed_X,y,stratify=y)

# Fit knn to the training
knn.fit(X_wine_train,y_wine_train)

# Score knn on the test data and print it out
print(knn.score(X_wine_test,y_wine_test))

0.8222222222222222